version: "3.9"

services:
  app:
    build: .
    container_name: doc_app
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - .:/app
    environment:
      - SERVER_ENVIRONMENT=${SERVER_ENVIRONMENT}
    env_file:
      - .env
    command: >
      sh -c "./start.sh"
    depends_on:
      - db
  db:
    image: postgres:14
    container_name: doculedger_db
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always


volumes:
  db-data:
